/* Reset CSS */
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

/* Basic Styling */
body {
    font-family: Arial;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: center; /*untuk menaruh elemen agar dimulai dari tengah*/
    align-items: center; 
    margin-right: auto;
}

nav ul {
    list-style-type: none; /*digunakan untuk menandai awalan apa di awal elemen ul*/
}

nav li {
    display: inline; /*agar berada dalam garis yang sama atau tidak membuat garis baru*/
}

main {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: auto; /*agar berada di tengah*/
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /*untuk memunculkan bayangan*/
}

label {
    display: block;
    margin-bottom: 10px; /*untuk mengatur jarak antara elemen username,email dll*/
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%; /*untuk mengatur pada kolom pengisian*/
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(244, 228, 228);
    color: #000000;
}

table {
    width: 50%;
    min-width: 700px;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #f0dddd;
    border-radius: 3px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
th{
    background-color: rgb(255, 210, 105);
}
td{
    background-color: rgb(216, 239, 255);
}